body, p, h1, h2, h3, h4, h5, form, ul, li, ol, dd, dt, dl, table, tr, td, hr
{ margin: 0; }

body { font-family:Arial; }
html, body { height:100%; }

/* positioning */
#page-container { width:800; margin:0 auto; height:100%; }
#leftbar { width:200px; float:left; }
#rightbar { margin-left:200px;}
#footer { }


/* styles */
#leftbar {  }
	#leftbar ul { list-style-type:none; }
	#leftbar ul li { padding:15px 0; }
	#leftbar ul li a { text-decoration:none; color:#333; }
	#leftbar ul li a:hover { text-decoration:underline; }
#rightbar { border-left:1px gray solid; padding-left:30px; padding-right:30px; }
	#rightbar h1 { padding:10px 0; }
	#rightbar hr { margin-bottom:20px; }
	#rightbar dt { margin-top:10px; }
	#rightbar dd { padding-bottom: 10px; }
#footer { padding:5px 30px; }
	#footer p { margin:0; }


/* debug */
body { background-color:#555; }
#page-container { background-color:white; }
#leftbar { background-color:#dddddd; }
#rightbar { background-color:white; }
#footer { background-color:#cccccc; }
